main {
  width: 100%;
  clear: both;
}

.text-orance {
  color: #fcb24c;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  .font-roboto;
  margin: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  background: #373535;
  padding: 20px 15px;
  border-radius: 20px;
  display: inline-block;
  &.btn-white {
    color: #373535;
    background: #FFF;
  }
  &.btn-sky {
    color: #FFF;
    background: #6b9cac;
  }
}

.text-center {
  text-align: center;
}

form {
  width: 100%;
  input {
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #ccc;
    letter-spacing: 1px;
    font-weight: 300;
    color: #373535;
    &[readonly=true] {
      background: #efefef;
    }
  }
  label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    +input,
    +textarea {
      width: 250px;
    }
  }
  a {
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #373535;
    font-size: 14px;
  }
  input[type=submit] {
    border: none;
    min-width: 100px;
    text-align: center;
  }
}

* {
  outline: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide {
  display: none !important;
}

.clear:after {
  content: "";
  clear: both;
  display: table;
}

.hr {
  width: 100%;
  height: 2px;
  clear: both;
  background: #bbb;



}