section {
  width: 100%;
  clear: both;
  position: relative;
  .container {
    display: table;
    width: 100%;
    box-sizing: border-box;
    min-height: 555px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    >div:not(.control) {
      display: table-cell;
      position: relative;
    }
  }
  h3.title {
    color: #373535;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 40px 0;
    &.bg-black {
      background: #373535;
      color: #FFF;
      padding-left: 60px;
    }
    &.bg-gray {
      background: #818284;
      color: #FFF;
      padding-left: 60px;
    }
  }
  .subtitle {
    width: 100%;
    position: relative;
    >div {
      margin: 0 auto;
      max-width: 1400px;
      text-align: center;
    }
  }
}

#section-location {
  .container {
    padding: 30px;
    >div {
      padding-right: 20px;
      width: 80%;
      vertical-align: top;
      iframe {
        width: 100%;
        min-height: 700px;
      }
      &:last-child {
        padding-right: 0;
        padding-left: 20px;
        width: auto;
        text-align: center;
        color: #373535;
        img {
          max-width: 300px;
          margin-bottom: 30px;
        }
        h6 {
          text-transform: uppercase;
          font-size: 20px;
        }
        p.addr {
          padding: 10px 10px;
          font-weight: 300;
          font-size: 15px;
        }
        div.open {
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
}

#section-contact {
  .subtitle {
    margin: 50px 0;
    i.fa-mobile {
      position: absolute;
      left: 15%;
      top: 0;
      font-size: 80px;
      line-height: 60px;
      color: #818284;
    }
  }
  .container {
    padding: 0 60px;
    >div {
      padding-right: 50px;
      form {
        label {
          +input,
          +textarea {
            min-width: 70%;
          }
        }
        .btn {
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
      &:last-child {
        padding-right: 0;
        padding-left: 50px;
      }
    }
  }
}

#section-login {
  .container {
    >div {
      padding-right: 80px;
      &:last-child {
        padding-right: 0;
        padding-left: 80px;
        border-left: solid 1px #818284;
      }
      .title {
        font-size: 25px;
        line-height: 25px;
        padding: 20px 40px;
        ;
      }
      .intro {
        padding: 40px;
        h4 {
          font-weight: 400;
          padding-bottom: 30px;
          color: #373535;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          padding-bottom: 30px;
          li {
            color: #373535;
            line-height: 25px;
            font-size: 15px;
            i {
              font-size: 11px;
              color: #818284;
            }
          }
        }
        .btn {
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }
  }
}

#section-cart {
  .cart {
    width: 100%;
    max-width: 1400px;
    margin: 50px auto;
    position: relative;
    table {
      width: 100%;
      border-collapse: collapse;
      td,
      th {
        border: solid 2px #ccc;
      }
      thead {
        th {
          background: #eee;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 50px;
        }
      }
      tbody {
        td {
          vertical-align: top;
          text-align: center;
          padding: 20px;
          &:nth-child(1) {
            text-align: left;
          }
          &:nth-child(3) {
            form {
              display: inline;
              input {
                text-align: right;
                width: 50px;
                margin-bottom: 0;
                border-color: #FFF;
                background: #FFF;
              }
            }
            .btn-ok {
              min-width: 30px;
              padding: 15px;
              border-radius: 15px;
              display: none;
            }
            .btn-edit {
              font-size: 25px;
              color: #818284;
              padding: 0 0 0 10px;
              vertical-align: middle;
            }

            &.edit-state {
              form {
                input {
                  border-color: #ccc;
                  background: #efefef;
                }
              }
              .btn-ok {
                display: inline-block;
              }
              .btn-edit {
                display: none;
              }
            }
          }
          &:nth-child(5) {
            font-size: 20px;
            a {
              display: inline-block;
              border: solid 1px;
              width: 25px;
              height: 25px;
              border-radius: 100%;
              position: relative;
              color: #373535;
              transition: all .3s ease;
              &:before,
              &:after {
                content: '';
                position: absolute;
                width: 15px;
                height: 1px;
                background: #373535;
                transform: rotate(45deg);
                left: calc(~"50% - 15px/2");
                top: 49%;
              }
              &:after {
                transform: rotate(-45deg);
              }
              &:hover {
                transform: rotate(90deg);
              }
            }
          }
        }
      }
      tfoot {
        td {
          padding: 20px;
        }
      }
    }
  }
  .container {
    table-layout: fixed;
    >div {
      vertical-align: top;
      padding: 0 50px 0 0;
      &:last-child {
        padding: 0 0 0 50px;
      }
      >div {
        background: #ddd;
        padding: 50px;
        min-height: 200px;
        margin-bottom: 50px;
        h4 {
          text-transform: uppercase;
          font-weight: 700;
          color: #373535;
          font-size: 25px;
          padding: 0 0 20px 0;
        }
        form {
          input {
            width: calc(~"100% - 20px");
          }
        }
        &.grand-total {
          text-align: right;
          >div:not(.hr) {
            font-size: 20px;
            font-weight: 700;
            padding: 0 0 10px;
            &.grandtotal {
              font-weight: 900;
              font-size: 30px;
              padding: 20px 0;
            }
            span {
              min-width: 150px;
              display: inline-block;
            }
          }
        }
        &.estimate {
          form {
            width: calc(~"50% - 20px");
            float: left;
            &:last-child {
              padding-left: 40px;
              >div {
                &:last-child {
                  padding-top: 20px;
                  text-align: right;
                  span {
                    font-size: 13px;
                    color: #c62828;
                    padding-right: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#section-items {
  >a {
    float: left;
    width: calc(~"100%/3");
    background: url('/assets/images/1x1.png') center center no-repat;
    background-size: 100%;
    position: relative;
    transition: all .1s ease;
    img {
      visibility: hidden;
      z-index: -1;
      width: 100%;
    }
    &.brown {
      background-image: url('/assets/images/brown.png');
    }
    &.green {
      background-image: url('/assets/images/green.png');
    }
    &.white {
      background-image: url('/assets/images/white.png');
    }
    &.red {
      background-image: url('/assets/images/red.png');
    }
    &.orange {
      background-image: url('/assets/images/orange.png');
    }
    &.yellow {
      background-image: url('/assets/images/yellow.png');
    }
    &:before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: all .3s ease;
    }
    &:after {
      .btn;
      content: '+ add to cart';
      position: absolute;
      left: calc(~"50% - 110px/2");
      top: calc(~"50% + 55px/2");
      width: 110px;
      text-align: center;
      transition: all .3s ease;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      &:after {
        top: calc(~"50% - 55px/2");
        opacity: 1;
      }
    }
    &.clicked {
      transform: scale(0.95);
    }
  }
}

#section-desc {
  .container {
    max-width: 1200px;
    min-height: 0;
    padding-bottom: 50px;
    >div {
      padding: 0 50px;
      font-size: 13px;
      line-height: 18px;
      font-weight: 300;
    }
  }
}

#section-prod {
  .container {
    table-layout: fixed;
    padding: 75px 40px 50px;
    .name {
      h1 {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 60px;
        span {
          display: block;
        }
      }
    }
    .main {
      color: #FFF;
      h3 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 2px;
      }
      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
      }
      h5 {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 1px;
      }
      ul {
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
      }
    }
    .desc {
      color: #FFF;
      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
      >table {
        width: 100%;
        border-spacing: 0;
        td {
          border: solid 1px;
        }
        h4 {
          text-align: center;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 20px;
        }
        table {
          width: 100%;
          border: none;
          margin: 5px 0;
          td {
            border: none;
            font-weight: 300;
            font-size: 13px;
            &:nth-child(1) {
              width: 50%;
            }
            &:nth-child(2) {
              width: 30%;
            }
            &:nth-child(3) {
              width: 20%;
            }
          }
        }
      }
    }
  }
  .control {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    z-index: 999;
    a+a {
      margin-left: 20px;
    }

    #btnAddToCartProd {
      transition: all .1s ease;
      &.clicked {
        transform: scale(0.95)
      }
    }
  }
  &.blue {
    background: #6c9dae;
    .container {
      background-image: url('/assets/images/blue.png');
      background-size: 500px;
      background-repeat: no-repeat;
      background-position: 50px center;
    }
  }
}